body{
	padding-top: 75px;
}

.jumbotron {
	color: #1e4154;
	background: #dae0e5;
}

.navbar-inverse {
	background: #1e4154;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;	
}
